.color-link {
    color: $link-color;
}
.dotted {
    border-bottom: 2px dotted $link-color;
}
.underline {
    border-bottom: 1px solid $link-color;
}
.ta-center {
    text-align: center;
}
.color-white {
    color: white;
}