.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-pants--style_classic-wrinkles_0-bend_0 {
	font-size:(348.5/10)*1rem;
	width:(324.5/348.5)*1em;
}
.icon-pants--style_classic-wrinkles_0-bend_1 {
	font-size:(350.5/10)*1rem;
	width:(328/350.5)*1em;
}
.icon-pants--style_classic-wrinkles_1-bend_0 {
	font-size:(348.5/10)*1rem;
	width:(324.5/348.5)*1em;
}
.icon-pants--style_classic-wrinkles_1-bend_1 {
	font-size:(349.5/10)*1rem;
	width:(328/349.5)*1em;
}
.icon-pants--style_slim-wrinkles_0-bend_0 {
	font-size:(348.5/10)*1rem;
	width:(315/348.5)*1em;
}
.icon-pants--style_slim-wrinkles_0-bend_1 {
	font-size:(349.5/10)*1rem;
	width:(315/349.5)*1em;
}
.icon-pants--style_slim-wrinkles_1-bend_0 {
	font-size:(348.5/10)*1rem;
	width:(315/348.5)*1em;
}
.icon-pants--style_slim-wrinkles_1-bend_1 {
	font-size:(349.5/10)*1rem;
	width:(315/349.5)*1em;
}
.icon-shirt--style_regular-collar_classic-contrastcollar_0-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_classic-contrastcollar_0-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_classic-contrastcollar_1-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_classic-contrastcollar_1-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_double-contrastcollar_0-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_double-contrastcollar_0-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_double-contrastcollar_1-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_double-contrastcollar_1-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_round-contrastcollar_0-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_round-contrastcollar_0-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_round-contrastcollar_1-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_round-contrastcollar_1-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_standart-contrastcollar_0-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_standart-contrastcollar_0-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_standart-contrastcollar_1-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_standart-contrastcollar_1-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_stay-contrastcollar_0-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_stay-contrastcollar_0-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_stay-contrastcollar_1-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-collar_stay-contrastcollar_1-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-cuff_one-contrastcollar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-cuff_one-contrastcollar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-cuff_regulated-contrastcollar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-cuff_regulated-contrastcollar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-cuff_two-contrastcollar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_regular-cuff_two-contrastcollar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_classic-contrastcollar_0-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_classic-contrastcollar_0-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_classic-contrastcollar_1-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_classic-contrastcollar_1-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_double-contrastcollar_0-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_double-contrastcollar_0-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_double-contrastcollar_1-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_double-contrastcollar_1-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_round-contrastcollar_0-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_round-contrastcollar_0-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_round-contrastcollar_1-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_round-contrastcollar_1-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_standart-contrastcollar_0-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_standart-contrastcollar_0-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_standart-contrastcollar_1-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_standart-contrastcollar_1-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_stay-contrastcollar_0-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_stay-contrastcollar_0-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_stay-contrastcollar_1-sbar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-collar_stay-contrastcollar_1-sbar_1 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-cuff_one-contrastcollar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-cuff_one-contrastcollar_1 {
	font-size:(241.5/10)*1rem;
	width:(208/241.5)*1em;
}
.icon-shirt--style_slim-cuff_regulated-contrastcollar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-cuff_regulated-contrastcollar_1 {
	font-size:(241.5/10)*1rem;
	width:(208/241.5)*1em;
}
.icon-shirt--style_slim-cuff_two-contrastcollar_0 {
	font-size:(241/10)*1rem;
	width:(208/241)*1em;
}
.icon-shirt--style_slim-cuff_two-contrastcollar_1 {
	font-size:(241.5/10)*1rem;
	width:(208/241.5)*1em;
}
.icon-suit--classic {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--classic-splines-0 {
	font-size:(373.9/10)*1rem;
	width:(180/373.9)*1em;
}
.icon-suit--classic-splines-1 {
	font-size:(373.9/10)*1rem;
	width:(180/373.9)*1em;
}
.icon-suit--classic-splines-2 {
	font-size:(373.9/10)*1rem;
	width:(180/373.9)*1em;
}
.icon-suit--slim {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_1-button_1-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_1-button_1-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_1-button_1-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_1-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_1-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_1-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_1-button_3-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_1-button_3-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_1-button_3-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_2-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_2-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_2-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_2-button_4-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_2-button_4-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_2-button_4-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_2-button_6-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_2-button_6-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_rect-view_2-button_6-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_1-button_1-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_1-button_1-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_1-button_1-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_1-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_1-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_1-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_1-button_3-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_1-button_3-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_1-button_3-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_2-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_2-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_2-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_2-button_4-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_2-button_4-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_2-button_4-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_2-button_6-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_2-button_6-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_sharp-view_2-button_6-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_1-button_1-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_1-button_1-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_1-button_1-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_1-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_1-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_1-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_1-button_3-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_1-button_3-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_1-button_3-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_2-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_2-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_2-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_2-button_4-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_2-button_4-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_2-button_4-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_2-button_6-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_2-button_6-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_classic-lapel_wrap-view_2-button_6-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_1-button_1-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_1-button_1-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_1-button_1-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_1-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_1-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_1-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_1-button_3-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_1-button_3-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_1-button_3-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_2-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_2-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_2-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_2-button_4-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_2-button_4-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_2-button_4-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_2-button_6-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_2-button_6-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_rect-view_2-button_6-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_1-button_1-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_1-button_1-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_1-button_1-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_1-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_1-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_1-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_1-button_3-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_1-button_3-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_1-button_3-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_2-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_2-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_2-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_2-button_4-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_2-button_4-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_2-button_4-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_2-button_6-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_2-button_6-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_sharp-view_2-button_6-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_1-button_1-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_1-button_1-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_1-button_1-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_1-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_1-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_1-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_1-button_3-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_1-button_3-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_1-button_3-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_2-button_2-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_2-button_2-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_2-button_2-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_2-button_4-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_2-button_4-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_2-button_4-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_2-button_6-pockets_invoices {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_2-button_6-pockets_slotted {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
.icon-suit--style_slim-lapel_wrap-view_2-button_6-pockets_valve {
	font-size:(371.2/10)*1rem;
	width:(189.7/371.2)*1em;
}
