footer.footer
	div.container.footer__container
		div.footer__info
			span.footer__text.footer__copyright.text.text_m.
				© Tailor for me, 2017
			//a#openPoliticWindow.footer__text.text.text_m.underline(href="#politicWindow").
				Политика обработки персональных данных
			a.footer__text.text.text_m.underline(href="").
				Политика обработки персональных данных
		div.footer__contacts
			a.footer__text.text.text_m.phone-link.footer__phone(href="tel:88002003090").
				<svg class=""><use xlink:href="#icon-phone"></use></svg><span>8 800 200-30-90</span>
			a.text.text_s.footer__text-form.dotted.js-modal(href="").
				Заказать звонок