footer.footer
	div.container.footer__container
		div.footer__info
			span.footer__text.footer__copyright.text.text_m.
				© TAILOR for ME, 2017
			//a#openPoliticWindow.footer__text.text.text_m.underline(href="#politicWindow").
				Политика обработки персональных данных
			a.footer__text.text.text_m.underline(href="doc/politic.pdf").
				Политика обработки персональных данных
		div.footer__contacts
			a.footer__text.text.text_m.phone-link.footer__phone(data-phone="88432253258" data-id="" href="tel:88432253258").
				<svg class=""><use xlink:href="#icon-phone"></use></svg><span>+7(843) 225-32-58</span>
			a.text.text_s.footer__text-form.dotted.js-modal(href="" data-id="modal-win-call").
				Заказать звонок